<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Apartments</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutrow row ">
                    <div class="col-md-1">
                        <img class="homelogo" alt="Home Logo" src="img/placeholderlogo.png" />
                    </div>
                    <div class="col-md-7">
                        <ul class="headerstyle">
                            <li class="listyle">
                                <a href="/home" class="headerlinks">Home</a>
                            </li>
                            <li class="listyle">
                                <a href="/about" class="headerlinks">About</a>
                            </li>
                            <li class="listyle">
                                <a href="/apartments" class="headerlinks">Apartments</a>
                            </li>
                            <li class="listyle">
                                <a href="/forums" class="headerlinks">Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="profileimage" alt="Profile logo" src="img/ppholder.png" />

                        <div class="dropdown burgermenu">

                            <img src="img/burgermenu.png" class="burgerclick" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile">
                                    <%-user.fname%>
                                </a> <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container-fluid">
                        <div class="row aprowstyle">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8 mainapholder">
                                        <h3 class="apartmenttitle">
                                            APARTMENTS
                                        </h3>
                                        <p class="apartmentunder"> Information about the apartments </p>
                                        <div class="dropdown">
                                            <select class="form-select apartmentsortdrop" aria-label="Default select example">
												<option selected>Top Rating</option>
												<option value="1">Price</option>
											</select>
                                            <p class="apartmentsort">Sort by</p>
                                        </div>
                                        <% for (x=0;x<data.length; x++){%>
                                            <div class="apartmentinfo">
                                                <img class="apartmentinfopic" alt="Apartment Picture" src="img/Apholder.png" />

                                                <div class="apttextholder">
                                                    <p class="apartmenttext">
                                                        Address:
                                                        <%-data[x].city %> ,
                                                            <%-data[x].city %>
                                                                <%-data[x].baranggay %>
                                                    </p>
                                                    <p class="apartmenttext">
                                                        Room type:
                                                        <%-data[x].type %>
                                                    </p>
                                                    <p class="apartmenttext">
                                                        Capacity:
                                                        <%-data[x].capacity %>
                                                    </p>
                                                    <p class="apartmenttext">
                                                        Restriction:
                                                        <%-data[x].restriction %>
                                                    </p>
                                                    <p class="apartmenttext">
                                                        Price: Php
                                                        <%-data[x].price %>/ month
                                                    </p>
                                                </div>
                                                <a href="/apartmentDetails/<%-data[x].appID %>"><button type="button" class="apartmentbutton">
                                                    See more →
                                                </button></a>
                                            </div>
                                            <%}%>

                                                <p class="checklabel2">Budget Estimate:</p>
                                                <div class="budgetholder">
                                                    <input type="number" class="budgetinput" id="minbudget" min="1" placeholder="Minimum" /> to
                                                    <input type="number" class="budgetinput" id="maxbudget" min="1" placeholder="Maximum" />
                                                </div>
                                                <div>
                                                    <button type="submit" class="apsearchbutton2">
												Search
											</button>
                                                </div>
                                                </form>
                                    </div>
                                </div>
                                <div class="nextpageholder">
                                    <button type="button" class="nextpagebutton">
								<<
							</button>
                                    <p class="pagenext">Page</p>
                                    <button type="button" class="nextpagebutton">
								>>
							</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row footerform">
                    <div class="col-md-6 footerleft">
                        <h3 class="footerquestion">
                            Questions?
                        </h3>
                        <p class="footertext">
                            If you have any questions or issues regarding the system,<br> please feel free to leave a message.
                        </p>
                        <p class="footertext">
                            Your feedback is greatly appreciated
                        </p>
                    </div>
                    <div class="col-md-6 ">
                        <form role="form">
                            <div class="form-group footerright">

                                <label class="footerlabel" for="UserName">
								Your Name
							</label>
                                <input type="text" class="formstyle" id="UserName" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabel" for="UserEmail">
								Your Email
							</label>
                                <input type="email" class="formstyle" id="UserEmail" />
                            </div>
                            <div class="form-group footerright">
                                <label class="footerlabelMessage" for="UserMessage">
								Message
							</label>
                                <input type="text" class="formstyle" id="UserMessage" />
                            </div>
                            <div class="footerright">
                                <button type="submit" class="FooterButton">
							Send
						</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>