<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>User Profile</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutrow row ">
                    <div class="col-md-1">
                        <img class="homelogo" alt="Home Logo" src="img/placeholderlogo.png" />
                    </div>
                    <div class="col-md-7">
                        <ul class="headerstyle">
                            <li class="listyle">
                                <a href="/home" class="headerlinks">Home</a>
                            </li>
                            <li class="listyle">
                                <a href="/about" class="headerlinks">About</a>
                            </li>
                            <li class="listyle">
                                <a href="/apartments" class="headerlinks">Apartments</a>
                            </li>
                            <li class="listyle">
                                <a href="/forums" class="headerlinks">Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="profileimage" alt="Profile logo" src="img/ppholder.png" />

                        <div class="dropdown burgermenu">

                            <img src="img/burgermenu.png" class="burgerclick" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="btn btn-warning" style="width: 170px;"><a class="dropdown-item" href="/logout">Log Out</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="optionholder">

                                    <button>
                                            <a href="/profile">
                                        <div class="optiondiv" >
                                            <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                            <p class="optiontext" style="color: black;">
                                                Profile Information
                                            </p>
                                        </div>
                                            </a>
                                        </button>



                                    <hr>
                                    <button style="background-color: yellow; ">
                                        

                                            <div class="optiondiv">
                                            <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                            <p class="optiontext" style="color: black;">
                                                Apartment Profiles
                                            </p>
                                            </div>
                                        
                                       
                                    </button>
                                    <hr>
                                    <button>
                                    <div class="optiondiv" style="width: 200px;">
                                        <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                        <p class="optiontext" >
                                            Settings     
                                        </p>
                                    </div>
                                </button >
                                    <div class="optionlogdiv">
                                        <img class="optionimg" alt="Profile Information" src="img/placeholderimage.png" />
                                        <p class="optiontext">
                                            Log Out
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="userholder">
                                    <h3 class="tenanttext">
                                        Owner's Apartments
                                    </h3>
                                    
                                <img class="userprofstyle" alt="Owner Profile Image" src="img/ppholder.png" />
                                <div class="row" style="margin-left: 400px;width: 350px;height: 70px;">

                                    <a href="/addApartment" style="width: 350px;height: 100px;"><button type="button" style="width: 150px;height: 70px;" class=" btn-warning" style="align-self: center; ">
                                        Add Apartments 
                                    </button></a>
                                </div>

                                <hr>
                                <% for (x=0;x<data.length; x++){%>



                                    <div class="apartmentinfoProfiles">
                                        <div class="col-md-12 ">


                                            <p>
                                                Address:
                                                <%-data[x].city %> ,
                                                    <%-data[x].city %>
                                                        <%-data[x].baranggay %>
                                            </p>
                                            <p>
                                                Room type:
                                                <%-data[x].type %>
                                            </p>
                                            <p>
                                                Capacity:
                                                <%-data[x].capacity %>
                                            </p>
                                            <p>
                                                Restriction:
                                                <%-data[x].restriction %>
                                            </p>
                                            <p>
                                                Price:Php
                                                <%-data[x].price %>/ month
                                            </p>
                                            <div class="Tenantrequests" style="border: 1px,black;">
                                                akmgwoma
                                            </div>
                                        </div>


                                        <a href="/apartmentDetails/<%-data[x].appID %>"><button type="button" class="apartmentbutton">
                                                See more → 
                                            </button></a>

                                        <a href="/editApartment/<%-data[x].appID %>"><button type="button" class="apartmentbutton">
                                                Edit
                                            </button></a>
                                        <a href="/deleteApartment/<%-data[x].appID %>"><button type="button" class="apartmentbutton">
                                                Delete
                                            </button></a>

                                    </div>
                                    <hr>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footerform">
                <div class="col-md-6 footerleft">
                    <h3 class="footerquestion">
                        Questions?
                    </h3>
                    <p class="footertext">
                        If you have any questions or issues regarding the system,<br> please feel free to leave a message.
                    </p>
                    <p class="footertext">
                        Your feedback is greatly appreciated
                    </p>
                </div>
                <div class="col-md-6 ">
                    <form role="form">
                        <div class="form-group footerright">

                            <label class="footerlabel" for="UserName">
								Your Name
							</label>
                            <input type="text" class="formstyle" id="UserName" />
                        </div>
                        <div class="form-group footerright">
                            <label class="footerlabel" for="UserEmail">
								Your Email
							</label>
                            <input type="email" class="formstyle" id="UserEmail" />
                        </div>
                        <div class="form-group footerright">
                            <label class="footerlabelMessage" for="UserMessage">
								Message
							</label>
                            <input type="text" class="formstyle" id="UserMessage" />
                        </div>
                        <div class="footerright">
                            <button type="submit" class="FooterButton">
							Send
						</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>